@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

nav {
  /* position: fixed; */
  /* z-index: 99; */
  width: 100%;

  background: #242526;
}
nav .wrapper {
  position: relative;
  width: 100%;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
}
.wrapper .logo a {
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links {
  display: inline-flex;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover {
  background: #3a3b3c;
}
.nav-links .mobile-item {
  display: none;
}
.nav-links .drop-menu {
  position: absolute;
  background: #242526;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.mega-box {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content {
  background: #242526;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.mega-box .content .row {
  width: calc(25% - 30px);
  line-height: 45px;
  margin: auto;
}
.content .row img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.content .row header {
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}
.content .row .mega-links {
  margin-left: -40px;
  border-left: 1px solid rgba(255, 255, 255, 0.09);
}
.row .mega-links li {
  padding: 0 20px;
}
.row .mega-links li a {
  padding: 0px;
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover {
  color: #f2f2f2;
}
.wrapper .btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
}

#cartimg{
  width: 50px;
  height: 50px;
}

#logoimg{
  border-radius: 50%;
}

#heading{
  font-size: 32px;
  color:rgb(255, 106, 106);
 font-family: Apple Chancery, cursive;
  font-weight: bold;
}

/* main section  */
#entire-body {
  background-color: #60626316;
  position: relative;
  bottom: 70px;
  box-sizing: content-box;
  padding-bottom: 20px;
  padding-top: 20px;
}
#main {
  width: 80%;
  margin: auto;
  text-transform: capitalize;
  font-family: "poppins";
}
#main > header {
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: #3a3b3c;
}
#cart-body {
  display: flex;
  justify-content: space-between;
}
#for-product {
  width: 65%;
  height: 25rem;
  overflow: scroll;
}
#for-product::-webkit-scrollbar {
  display: none;
}
#under-main {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
}
#child1 {
  width: 30%;
}
#child1 img {
  width: 100%;
  height: 10rem;
  object-fit: contain;
  border-radius: 5px;
}
#child2 {
  width: 65%;
  position: relative;
  left: 6px;
}
#pr-name {
  font-size: 18px;
  margin-bottom: 10px;
}
#pr-name + P {
  font-size: 13px;
  color: #3a3b3ccd;
  font-weight: 600;
  margin-bottom: 10px;
}
#tickDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
#tickDiv > div {
  color: rgb(17, 194, 88);
  font-weight: 600;
}
#tickDiv > div span {
  color: #3a3b3ccd;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  position: relative;
  bottom: 3px;
  left: 5px;
}
#quantityDiv {
  display: flex;
  margin-top: 20px;
}
#quantityDiv > p:nth-child(1) {
  margin-right: 10px;
  color: #3a3b3ccd;
  font-size: 13px;
  font-weight: 900;
}
#incrementDiv {
  display: flex;
}
#incrementDiv > button:nth-child(1),
#incrementDiv > button:nth-child(3) {
  margin-right: 10px;
  margin-left: 10px;
  color: rgb(17, 194, 88);
  border: 0;
  outline: 0;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: 1rem;
  height: 1rem;
  border-radius: 2px;
  cursor: pointer;
}
#priceOF {
  position: relative;
  left: 30px;
  font-weight: 600;
}
#priceOF::before {
  content: "Price: ";
  color: #3a3b3ccd;
}
#remove {
  color: red;
  cursor: pointer;
}

#cost-section {
  width: 33%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  height: 19rem;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}
#for-radio {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
#for-radio > div {
  display: flex;
  font-size: 15px;
  padding: 10px;
}
input[type="radio"] {
  margin-right: 10px;
  width: 30px;
}

#for-radio > div:hover {
  background-color: #8a8e9257;
  border-radius: 5px;
}

#total {
  border-top: 2px solid rgba(128, 128, 128, 0.538);
  border-bottom: 2px solid rgba(128, 128, 128, 0.538);
  padding: 10px 20px;
  font-size: 13px;
  letter-spacing: 2px;
  color: #3a3b3ccb;
  margin-bottom: 5px;
  line-height: 25px;
}
#total > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}
#total > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}

#total_amount {
  border-bottom: 2px solid rgba(128, 128, 128, 0.538);
  padding: 10px;
  margin-bottom: 10px;
}
#total_amount > div {
  display: flex;
  justify-content: space-between;
}
#total_amount > div P {
  font-size: 15px;
  color: #3c3d3ef5;
}
#total_amount + button {
  background-color: #2ab02e;
  border: 0;
  outline: 0;
  padding: 15px 5px;
  width: 100%;
  border-radius: 20px;
  color: white;
  letter-spacing: 2px;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}
#total_amount + button + P {
  font-size: 10px;
  letter-spacing: 1px;
}
#total_amount + button + P span {
  color: rgb(19, 167, 162);
}

#delivary-details {
  background-color: white;
  width: 80%;
  margin: auto;
  padding: 20px;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  line-height: 30px;
  font-size: 12px;
  color: #3a3b3c;
  border-radius: 5px;
  text-transform: capitalize;
}
#delivary-details > p:nth-child(1),
#delivary-details span,
#delivary-details > p:nth-child(3) {
  font-weight: 900;
}
@media screen and (max-width: 1200px) {
  #cart-body {
    flex-direction: column;
  }
  #pr-name{
  font-size: 15px;
  }
  #for-product,
  #cost-section {
    width: 100%;
    margin-bottom: 20px;
  }
  #remove{
  margin-left: 10px;
  }
}

.alert {
  background-color: teal;
  width: max-content;
  padding: 20px;
  color: white;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 7;
  font-weight: 600;
  letter-spacing: 2px;
  display: none;
  text-align: center;
  border-radius: 4px;
  text-transform: capitalize;
  letter-spacing: 2px;
  padding-left: 40px;
  padding-right: 40px;
}

/* footer  */
footer{
  margin-top: 50px;
  padding: 30px 20px;
  width: 100%;
  background-color: #232F3E;
  margin-inline: auto;
  }
  footer > #footer-child{
  width: 95%;
  gap: 20px 15px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-inline: auto;
  }
  footer > #footer-child >div:nth-child(1) img{
  width: 151px;
  height: 101px;
  border-radius: 450%;

  }
  footer > #footer-child > div:nth-child(1) a{
  color: white;
   text-decoration: none; 
  color:rgb(255, 106, 106);
  font-family: Apple Chancery, cursive;
   font-weight: bold;
  }
  footer > #footer-child div ul li ,footer > #footer-child div ul li a{
  color: white;
  margin-top: 10px;
  text-decoration: none;
  }
  
  footer > #footer-child div h2{
  color: white;
  }
  
  #about-us p{
  color: white;
  margin-top: 10px;
  }
  #copyright{
      width: 100%;
      height: auto;
      background-color: #242526;
      text-align: center;
      padding: 20px 20px;
  }
  #copyright > a{
      text-decoration: none;
      color: white;
  }


@media screen and (max-width: 970px) {
  .wrapper .btn {
    display: block;
  }
  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3a3b3c;
  }
  #menu-btn:checked ~ .nav-links {
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn {
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn {
    display: block;
  }
  .nav-links li {
    margin: 15px 10px;
  }
  .nav-links li a {
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu {
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box {
    max-height: 100%;
  }
  .nav-links .desktop-item {
    display: none;
  }
  .nav-links .mobile-item {
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover {
    background: #3a3b3c;
  }
  .drop-menu li {
    margin: 0;
  }
  .drop-menu li a {
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box {
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content {
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2) {
    border-top: 0px;
  }
  .content .row .mega-links {
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li {
    margin: 0;
  }
  .content .row header {
    font-size: 19px;
  }
}
nav input {
  display: none;
}

/* .body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
} */
/* .body-text div{
  font-size: 45px;
  font-weight: 600;
} */
#account-div > a {
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-right: 15px;
  text-decoration: none;
}

/* #top-nav {
            margin-inline: auto;
            width: 90%;
            padding: 15px 27px;
            display: flex;
            justify-content: space-between;
            background-color: #323a45;
        }
        #top-nav:nth-child(1){

            /* border: 2px solid red; 
        }
        /* #top-nav div:nth-child(2) >a,#top-nav div:nth-child(3) >a{
            color: white;
            text-decoration: none;
            font-family: 'Rubik', sans-serif;
            font-weight: 200;
            margin-right: 20px;
        }  */

#bottom-nav {
  margin-bottom: 80px;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 15px 27px;
}
#bottom-nav > div:nth-child(2) {
  display: flex;
  align-items: center;
}
#bottom-nav > div {
  margin-right: 30px;
}

#bottom-nav > div:nth-child(2) span {
  padding: 12px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}
#bottom-nav > div:nth-child(2) form input {
  padding: 12px 18px;
}
#bottom-nav > div:nth-child(1),
#bottom-nav > div:nth-child(3) {
  padding: 12px 18px;
  display: flex;
  align-items: center;
}
/* #bottom-nav >div:nth-child(1){
            /* border: 2px solid red; 
        } */
#bottom-nav > div:nth-child(1) img {
  width: 80px;
  height: 80px;
  /* object-fit: contain; */
  /* border: 2px solid red; */
  /* border: 2px solid red; */
}
/* #bottom-nav >div span{
            font-size: 27px;
        } */

#bottom-nav > div:nth-child(1) span {
  font-size: 32px;
  color: gray;
  font-weight: bold;
}
#bottom-nav > div:nth-child(2) #filterbtn {
  background-color: #ffc107;
  padding: 10px 18px;
  font-size: 23px;

  border: none;
  color: white;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
#bottom-nav > div:nth-child(2) #productname {
  background-color: #eceff1;
  border: none;
  outline: none;
  font-size: 21px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
#bottom-nav > div:nth-child(3) a {
  text-decoration: none;
}
#bottom-nav > div:nth-child(3) a i {
  font-size: 46px;
  margin-right: 20px;
  color: #4caf50;
}
#bottom-nav > div:nth-child(3) a span {
  color: gray;
  font-size: 24px;
  font-family: "Rubik", sans-serif;
}
#mega-menu {
  background-color: green;
  display: none;
}
/* #top-div div:nth-child(2) >a:hover #mega-menu{
            display: block;
            width: 100%;
            height: 400px;
            background-color: teal;
        } */

@media only screen and (max-width: 970px) {
  #bottom-nav {
    display: block;
    width: 100%;
  }
  #bottom-nav > div {
    width: 90%;
    /* border: 2px solid red; */
    margin-inline: auto;
    display: flex;
    justify-content: center;
    /* display: block; */
    /* width: 100%; */
  }
}

@media only screen and (max-width: 480px) {
  #bottom-nav > div:nth-child(2) > form {
    display: flex;
    justify-content: center;
    /* border: 4px solid green; */
  }

  #bottom-nav > div:nth-child(2) > form {
    width: 100%;
  }

  footer #footer-child {
    gap: 20px 0px;
    grid-template-columns: repeat(1, 1fr);
  }
}
#for-product div img{
 width: 30%;
}